
.infom{
    display: flex;
    flex-direction: column;

}
.textareas{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: -6rem!important;
    margin-left: 9rem!important;
    text-align: justify;
     

}


 .social-links li {
                 
                 
                 margin-top: 0.5rem;
                 margin-right: -0.8rem;
        } 

 .social-links li a{
                padding: 0.3rem 0.5rem;
                border-radius: 50%;
                 background: rgb(236, 231, 231);
     
        } 

 @media (max-width: 986px) {
           .textareas{
            margin-left: 12rem!important;
            

            }

             .social-links{
                 margin-top: -3rem!important;
        } 
        }

 @media (max-width: 796px) {
           .textarea{
            margin-top: 0.7rem!important;
            width: 60vw!important;
            height: 32vh;
            margin-left: 6rem!important;
    }
        .social-links{
                 margin-top: -5rem!important;
        } 
                
            
        }
